::ng-deep .p-menubar {
    background-color: #eeeded !important;
    height: 40px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    padding: 0.5rem 1rem;
}

::ng-deep .p-menubar .p-menuitem-link {
    color: #333;
    font-weight: 500;
}

::ng-deep .p-menubar .p-menuitem-link:hover {
    background-color: #e0e0e0;
}

::ng-deep .p-menubar .p-menubar-root-list {
    align-items: center;
}

::ng-deep .p-menubar-start span {
    font-size: 1.2rem;
    color: #333 !important;
    padding: 10px;
}

::ng-deep .icon-container {
    position: relative;
    margin-right: 1rem;
}

::ng-deep .notification-icon {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

::ng-deep .notification-badge {
    background: #9cf9c5 !important;
    width: 20px !important;
    position: absolute;
    top: -5px;
    right: -10px;
    z-index: 1;
}

::ng-deep .p-menubar-end{
    margin-left: 10px !important;
}